<div class="politicianComparison">
    <div class="politicianComparisonControls">

        <div style="text-align:center">
            <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="goToPoliticianLibrary()" >
                Back To Library
            </button>
        </div>

        <div style="text-align:center">
            <select name="selectedBackground" ng-model="selectedBackground" ng-options="o.description for o in backgroundDescs"></select>
            <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="goToBackground(selectedBackground)" >
                Go To Background
            </button>
        </div>

        <div>
            <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="traverseSetByBackground(true)" >
                Next Background
            </button>
            <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="traverseSetByBackground(false)" >
                Previous Background
            </button>
        </div>

    </div>

    <div class="comparedPoliticianQuestion">

        <p id="politicianCompareBackground"> {{ presentedSet.shortDescription }}</p>

        <div id="concurrence" ng-show="presentedQuestion[0].type === 'concurrence'">

            <p id="politicianCompareQuestion"> {{ presentedQuestion[0].question.description}} </p>

            <div style="display: flex; justify-content: space-around;">
                <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="traverseSetByQuestion(true)" >
                    Next Question
                </button>
                <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="traverseSetByQuestion(false)" >
                    Previous Question
                </button>
            </div>

            <div style="display: flex; justify-content: space-around;">
                <table>


                    <tr>
                        <th>Politician</th>
                        <th>Importance</th>
                        <th class="comparisonAgreeDisagree">
                            <p style="display:inline-block; margin-right: 20px;"> Agree </p>
                            <p style="display:inline-block; margin-left: 20px; marign-right: 10px;"> Disagree </p>
                        </th>
                        <th>Comment</th>
                    </tr>
                    <tr ng-if="userAnswer">
                        <td> Your Answer: </td>
                        <td> {{userAnswer.importance}} </td>
                        <td class="comparisonAgreeDisagree">
                            <i class="comparisonCheckBoxes" ng-class="userAnswer.concurrence === 1 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="userAnswer.concurrence === 2 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="userAnswer.concurrence === 3 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="userAnswer.concurrence === 4 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="userAnswer.concurrence === 5 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="userAnswer.concurrence === 6 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                        </td>
                        <td> {{userAnswer.comment}} </td>
                    </tr>

                    <tr id="repeatedPoliticianAnswers" ng-repeat="answer in presentedQuestion">
                        <td> {{answer.pol.name}} </td>
                        <td> {{answer.importance}} </td>
                        <td class="comparisonAgreeDisagree">
                            <i class="comparisonCheckBoxes" ng-class="answer.concurrence === 1 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="answer.concurrence === 2 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="answer.concurrence === 3 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="answer.concurrence === 4 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="answer.concurrence === 5 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                            <i class="comparisonCheckBoxes" ng-class="answer.concurrence === 6 ? 'fa fa-check-square-o' : 'fa fa-square-o' "></i>
                        </td>
                        <td ng-show="answer.pol.answerCount >= 10"> {{answer.comment}} </td> <td ng-show="answer.pol.answerCount <= 10"> Awaiting Comment </td>
                    </tr>

                </table>
            </div>
        </div>

        <div id="ranking" ng-show="presentedQuestion[0].type === 'ranking'">

            <div style="display: flex; justify-content: space-around;">
                <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="traverseSetByQuestion(true)" >
                    Next Question
                </button>
                <button class="btn btn-primary" style="width:150px; margin-top:10px" ng-click="traverseSetByQuestion(false)" >
                    Previous Question
                </button>
            </div>

            <p> {{presentedQuestion[0].question.description}} </p>

            <div ng-repeat="answer in presentedQuestion" style="display:inline-block; border: 1px black; margin: 10px">

                <div>
                    <p>
                        {{answer.pol}}
                    </p>

                    <p>
                       Comment: {{answer.comment}}
                    </p>

                    <p>
                        Importance: {{answer.importance}}
                    </p>

                    <div ng-repeat="rankedItem in answer.rankingAnswerItems">

                        {{$index+1}}
                        {{rankedItem.item}}
                    </div>

                </div>

            </div>
        <!---->
        <!---->
        </div>

    </div>

</div>
