<div>

    <div class="topics">
        <p> Choose A Topic </p>
    </div>

    <div class="flex-container-topics">
        <div class="flex-item-topics"><a ng-click="moveToTopic('Civil Liberties')"><img src="./images/app/finalIcons/civil_liberties.svg"></br>Civil Liberties</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Crime And Punishment')"><img src="images/app/finalIcons/crime_punishment.svg"></br>Crime and<br>Punishment</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Education')"><img src="images/app/finalIcons/education.svg"></br>Education</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Energy')"><img src="images/app/finalIcons/energy.svg"></br>Energy</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Environment')"><img src="images/app/finalIcons/environment.svg"></br>Environment</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Gun Control')"><img src="images/app/finalIcons/gun_control.svg"></br>Gun Control</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Healthcare And Safety')"><img src="images/app/finalIcons/health_safety.svg"></br>Health/Safety</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Immigration')"><img src="images/app/finalIcons/immigration-01.svg"> </br> Immigration</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Infrastructure')"><img src="images/app/finalIcons/infrastructure-01.svg"></br>Infrastructure</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Foreign Policy')"><img src="images/app/finalIcons/international_relations-01.svg"></br>Foreign Policy</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Jobs And The Economy')"><img src="images/app/finalIcons/jobs_economy-01.svg"></br>Jobs/Economy</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Quality Of Life')"><img src="images/app/finalIcons/quality_of_life-01.svg"></br>Life Quality</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Reproduction')"><img src="images/app/finalIcons/reproduction-01.svg"></br>Reproduction</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Taxes')"><img src="images/app/finalIcons/taxes-01.svg"></br>Taxes</a></div>
        <div class="flex-item-topics"><a ng-click="moveToTopic('Social Services')"><img src="images/app/finalIcons/social_services-01.svg"></br>Social Services</a></div>
    </div>

</div>