<div>


    <div class="form-group" >
        <input class="form-control" ng-model="store.state" placeholder="State" >
    </div>
    <div class="form-group" >
        <input class="form-control" ng-model="store.city" placeholder="City" >
    </div>
    <div class="form-group" >
        <input class="form-control" ng-model="store.county" placeholder="County" >
    </div>
    <div class="form-group" >
        <input class="form-control" ng-model="store.district" placeholder="District" >
    </div>


</div>

